@page
@model FinalPizzaProject.Pages.Checkout.ThankYouModel
@{
}

<div class="text-center">
<h2 class="mainSubTitle">Thank you for order pizza with us. </h2>
<h3 class="mainSubTitle">Thinking of pizza thinking of us.</h3>
</div>