@page
@model FinalPizzaProject.Pages.Forms.CustomerPizzaModel
@{
}

<div class="text-center container">
    <h1>Create Your Own Pizza</h1>
    <form method="post">
        <input type="text" asp-for="Pizza.PizzaName" placeholder="Name os this pizza"/>

        <button class="byn btn-primary mt-1" type="submit"> Order Pizza</button>

    </form>
</div>