@page
@model FinalPizzaProject.Pages.AdminModel
@{
}

<div class="text-center">
<h2>List of Clients</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Adress</th>
            <th>Pizza Order</th>
            <th>Deliver or Pick up</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bill Gates</td>
            <td>bill.gates@microsoft.com</td>
            <td>+123456789</td>
            <td>New Yorks</td>
            <td>Hawaii</td>
            <td>Pick up</td>
            <td>
                <a class="btn btn-primary btn-sm" href="">Edit</a>
                <a class="btn btn-danger btn-sm" href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Elon Musk</td>
            <td>elon.musk@spacex.com</td>
            <td>+111222333</td>
            <td>Florida</td>
            <td>Mushroom</td>
            <td>Delivery</td>
            <td>
                <a class="btn btn-primary btn-sm" href="">Edit</a>
                <a class="btn btn-danger btn-sm" href="">Delete</a>
            </td>
        </tr>
         <tr>
            <td>3</td>
            <td>Will Smith</td>
            <td>will.smith@gmail.com</td>
            <td>+111333555</td>
            <td>California</td>
            <td>Pepperoni</td>
            <td>Delivery</td>
            <td>
                <a class="btn btn-primary btn-sm" href="">Edit</a>
                <a class="btn btn-danger btn-sm" href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Cristiano Ronaldo</td>
            <td>cristiano.ronaldo@gmail.com</td>
            <td>+32447788993</td>
            <td>Manchester</td>
            <td>Pizza sausage</td>
            <td>Pick up</td>
            <td>
                <a class="btn btn-primary btn-sm" href="">Edit</a>
                <a class="btn btn-danger btn-sm" href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Boris Johnson</td>
            <td>boris.johnson@gmail.com</td>
            <td>+4499778855</td>
            <td>London</td>
            <td>Pizza kebab</td>
            <td>Pick up</td>
            <td>
                <a class="btn btn-primary btn-sm" href="">Edit</a>
                <a class="btn btn-danger btn-sm" href="">Delete</a>
            </td>
        </tr>
 
    </tbody>
</table>
</div>