@page
@model FinalPizzaProject.Pages.HomeModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Welcome And Order your pizza </h1>
        <h2 class="mainSubTitle">It's pizza time</h2>
        <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Order your pizza here </a>
    </div> 
    <br/> 
    <img class="mainImage" src="~/images/Hundo Pizza.webp"/>
</div>