@page
@model FinalPizzaProject.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class ="display-4 text-capitalize">Pizza Menu</h1>
        <h2 class="mainSubTitle">Home made Pizza</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/pizza/pizza.jpg" class="w-100"/>
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;"> Make your pizza</h3>
                            <p style="text-align:left;">Choose your own</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Form/CustomerPizza">Order pizza here</a>
                        </div>
                      </div>
                </div>
            </div>
             @foreach(var pizza in Model.fakePizzaDB)
            {
                var imagePath = "~/images/pizza/" + (pizza.ImageTitle + ".jpg");
                <div class="col-4 mb-5">
                <img src="@imagePath" class="w-100" asp-append-version="true" width="300px" height="250px"/>
                <H4> @pizza.PizzaName </H4>
                <p> @pizza.FinalPrice SEK </p>
                <a class="btn btn-primary mt-1" asp-page="Checkout/Checkout" 
                asp-route-ImageTitle="@pizza.ImageTitle" 
                asp-route-PizzaPrice=@pizza.FinalPrice
                asp-route-PizzaName=@pizza.PizzaName 
                >Order this one</a>
                <br />
            </div>
            }
           
        </div>
    </div>
</div>